body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:71px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  opacity:0.4;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:29px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u807_img.mouseOver {
}
#u807.mouseOver {
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:29px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u808_img.mouseOver {
}
#u808.mouseOver {
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:29px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u809_img.mouseOver {
}
#u809.mouseOver {
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:28px;
  width:20px;
  height:20px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:29px;
  width:20px;
  height:20px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:28px;
  width:20px;
  height:20px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:1660px;
  top:29px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u814_img.mouseOver {
}
#u814.mouseOver {
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:1698px;
  top:29px;
  width:1px;
  height:16px;
  color:#FFFFFF;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:1709px;
  top:29px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u816_img.mouseOver {
}
#u816.mouseOver {
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:25px;
  width:20px;
  height:20px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:1782px;
  top:30px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  position:absolute;
  left:0px;
  top:70px;
}
#u819_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1921px;
  height:71px;
  background-image:none;
}
#u819_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:71px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  opacity:0.3;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:33px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:20px;
  width:240px;
  height:33px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:32px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u823_img.mouseOver {
}
#u823.mouseOver {
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:32px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u824_img.mouseOver {
}
#u824.mouseOver {
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:32px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u825_img.mouseOver {
}
#u825.mouseOver {
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:32px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u826_img.mouseOver {
}
#u826.mouseOver {
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:32px;
  width:38px;
  height:16px;
  color:#FFFFFF;
}
#u827_img.mouseOver {
}
#u827.mouseOver {
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:32px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u828_img.mouseOver {
}
#u828.mouseOver {
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:32px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u829_img.mouseOver {
}
#u829.mouseOver {
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1740px;
  top:32px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u831_img.mouseOver {
}
#u831.mouseOver {
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:30px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:236px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:615px;
  width:238px;
  height:236px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:231px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:631px;
  width:208px;
  height:231px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:252px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:606px;
  width:204px;
  height:252px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:267px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:528px;
  width:205px;
  height:267px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:279px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:424px;
  width:232px;
  height:279px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:237px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1079px;
  width:1920px;
  height:236px;
  color:#999999;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1119px;
  width:57px;
  height:16px;
  color:#999999;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:1119px;
  width:57px;
  height:16px;
  color:#999999;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:1119px;
  width:50px;
  height:16px;
  color:#999999;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1119px;
  width:57px;
  height:16px;
  color:#999999;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1159px;
  width:71px;
  height:16px;
  color:#999999;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:1195px;
  width:61px;
  height:16px;
  color:#999999;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1235px;
  width:57px;
  height:16px;
  color:#999999;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:1159px;
  width:91px;
  height:16px;
  color:#999999;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:1159px;
  width:57px;
  height:16px;
  color:#999999;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:1195px;
  width:57px;
  height:16px;
  color:#999999;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1159px;
  width:62px;
  height:16px;
  color:#999999;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:1195px;
  width:57px;
  height:16px;
  color:#999999;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:1235px;
  width:57px;
  height:16px;
  color:#999999;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:1119px;
  width:57px;
  height:16px;
  color:#999999;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:1159px;
  width:71px;
  height:16px;
  color:#999999;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1195px;
  width:57px;
  height:16px;
  color:#999999;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:1235px;
  width:57px;
  height:16px;
  color:#999999;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1269px;
  width:71px;
  height:16px;
  color:#999999;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:236px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:615px;
  width:238px;
  height:236px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:811px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:239px;
  width:476px;
  height:811px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:231px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:631px;
  width:208px;
  height:231px;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:811px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:239px;
  width:476px;
  height:811px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:252px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:606px;
  width:204px;
  height:252px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:811px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:239px;
  width:476px;
  height:811px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:267px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:528px;
  width:205px;
  height:267px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:811px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:239px;
  width:476px;
  height:811px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:279px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:424px;
  width:232px;
  height:279px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:811px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:239px;
  width:476px;
  height:811px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
